body {
     margin: 0;
     padding: 0;
     background: #ccc;
     font-family: 'Martel', serif;
     background: #3d344c;
     font-size: 16px;
     color: #d3a46d;
}
 .navbar {
     font-family: 'League Spartan', sans-serif;
     text-align: center;
     top: 0px;
     right:0;
     left: 0;
}
 .navbar ul {
     list-style: none;
     right: 0;
     left: 0;
     border-top: 3px solid #a98ec2;
     border-bottom: 3px solid #a98ec2;
     background: #3d344c;
     min-width: 80%;
     min-height: 80%;
}
 .navbar li{
     display: inline-block;
     position: relative;
     background: #3d344c 
}
 .navbar a{
     text-decoration: none;
     display: block;
     padding: 2rem 4rem;
     font-size: 2.3rem;
     text-transform: uppercase;
     color: #d3a46d;
     font-weight: 200;
}
 .navbar a:hover{
     color: #3d344c;
     text-decoration: underline 2px;
     background: #d3a46d;
}
 .container {
     border: solid 2px #a98ec2;
}
 .images {
     float: left;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 0px;
}
 header {
     font-family: "League Spartan", sans-serif;
     text-align: center;
     font-size: 30px;
     font-weight: 200;
}
 
 h1 {
     font-size: 60px;
     line-height: 2rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 400;
     padding: 0rem;
     margin-top: 3.8rem;
}

p {   
     font-size: 30px;
     line-height: 3.5rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 200;
     padding: .2rem;
}



.contact-box
{
  width: 20%;
  background-color: #3d344c;
  border: 2px solid #d3a46d;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  position: fixed;
}

form
{ margin: 10%;
}

.input-field
{ width: 95%;
height: 40px;
margin-top: 10%;
margin-right: 10%;
padding-left: 10%;
border: 2px solid #d3a46d;
border-radius: 14px;
outline: none;
background-color: #3d344c;
}

input[type=text] {
    color: #d3a46d;

}



.textarea-field
{
  

  background-color: #3d344c;
  color:#d3a46d;
  padding-bottom: 40%;
  }

.btn
{
  border-radius: 20px;
  color: #d3a46d;
  margin-top: 18px;
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  padding: 10px;
  background-color: #3d344c;
  font-size: 23px;
  border: 2px solid;
  cursor: pointer;
  position: center;
}
