body {
     margin: 0;
     padding: 0;
     font-family: 'Martel', serif;
     background: #3d344c;
     font-size: 16px;
     color: #d3a46d;
     height: 100%;
}
 

.navbar {
     font-family: 'League Spartan', sans-serif;
     text-align: center;
     top: 0px;
     right:0;
     left: 0;
}
 .navbar ul {
     list-style: none;
     right: 0;
     left: 0;
     border-top: 3px solid #a98ec2;
     border-bottom: 3px solid #a98ec2;
     background: #3d344c;
     
}
 .navbar li {
     display: inline-block;
     position: relative;
     background: #3d344c 
}
 .navbar a {
     text-decoration: none;
     display: block;
     padding: 2rem 4rem;
     font-size: 2.3rem;
     text-transform: uppercase;
     color: #d3a46d;
     font-weight: 200;
}
 .navbar a:hover {
     color: #3d344c;
     text-decoration: underline 2px;
     background: #d3a46d;
}
 .column {
     justify-content: center;
     align-items: center;
     height: 30%;
     padding: 0rem;
     margin: 0rem;
}
 .wrapper {
     width: 100%;
     border-top: solid 2px #a98ec2;
     border-bottom: solid 2px #a98ec2;
     margin-bottom: 3%;
}
 .container {
     border-top: solid 2px #a98ec2;
     border-bottom: solid 2px #a98ec2;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30%;
}
 img {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 27rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2rem;
     margin-bottom: 2rem;
     border: solid 3px #a98ec2;
     box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
 .image2 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2rem;
     margin-bottom: 2rem;
     border: solid 3px #a98ec2;
     box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
 .caption {
     text-align: center;
     width: 60%;
     margin: auto;
     border: solid 3px #a98ec2;
     padding: 1%;
}
 .caption2 {
     text-align: center;
     width: 60%;
     margin: auto;
     border: solid 3px #a98ec2;
     padding: 1%;
     margin-bottom: 2%;
}
 header {
     font-family: "League Spartan", sans-serif;
     text-align: center;
     font-size: 30px;
     font-weight: 200;
     margin-bottom: 5%;
}
 h1 {
     font-size: 5rem;
     line-height: 5rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 400;
     padding: 1.5%;
}
 h2 {
     font-size: 3rem;
     line-height: 3.7rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 400;
     padding: 1.5%;
}
 h3 {
     font-size: 2.5rem;
     line-height: 1.5rem;
     text-align: center;
     font-family: 'Martel', serif;
     font-weight: 400;
     padding: 1.5%;
}
 p {
     font-size: 30px;
     line-height: 3.5rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 200;
     padding: .2rem;
}
 .container2 {
     display: flex;
     justify-content: center;
     align-items: center;
}
 .container3 {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
}
 .contact-box {
     width: 30rem;
     background-color: #3d344c;
     border: 2px solid #d3a46d;
     text-align: center;
}
 form {
     margin: 10%;
     position: relative;
}
 .input-field {
     width: 95%;
     height: 40px;
     margin-top: 10%;
     text-align: left;
     border: 2px solid #d3a46d;
     border-radius: 14px;
     outline: none;
     background-color: #3d344c;
}
 input[type=text] {
     color: #d3a46d;
}
 .textarea-field {
     background-color: #3d344c;
     color:#d3a46d;
     padding-bottom: 40%;
}
 .btn {
     border-radius: 20px;
     font-weight: bold;
     color: #d3a46d;
     margin-top: 18px;
     font-family: "League Spartan", sans-serif;
     font-weight: 200;
     padding: 10px;
     background-color: #3d344c;
     font-size: 23px;
     border: 2px solid;
     cursor: pointer;
     position: relative;
}
 .grid-container {
     display: grid;
     grid-auto-rows: minmax(150px, auto);
     justify-items: stretch;
     align-items: stretch;
     position: relative;
     padding: 20px;
     width: 100%;
     justify-content: center;
     grid-template-areas: "header header";
     margin-top: -7%;
}
 .grid-item-1 {
     grid-area: header;
     font-family: "League Spartan", sans-serif;
}
 .grid-item {
     position: relative;
     font-size: 2rem;
     padding: 4rem;
     line-height: 4rem;
     border: 2px solid #d3a46d;
     text-align: center;
}
 .grid-container2 {
     display: grid;
     grid-auto-rows: minmax(150px, auto);
     justify-items: stretch;
     align-items: stretch;
     position: relative;
     padding: 20px;
     width: 100%;
     justify-content: center;
     grid-template-areas: "header header";
     margin-top: 0%;
}
 table.table1 {
     
     width: 30%;
     margin-top: 10rem;
     justify-content: center;
     margin-bottom: 10rem;
     border-collapse:collapse;
}
 table.table1 tr {
     height: 13rem;
     max-width: 20%;
     padding: 100%;
     font-size: 2rem;
     line-height: 3rem;
     text-align: center;
     font-family: 'Martel', serif;
     font-weight: 400;
     overflow: auto;
}

table.table1 td {
    padding: 2rem;
}
 table.table1 th {
     overflow: auto;
     padding: 1%;
}
 table, td, th {
     border: 2px solid #d3a46d;
}
 table.table2 {
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     margin-top: 5%;
     margin-bottom: 5%;
     border-collapse:collapse;
}
 table.table2 tr {
     height: 13rem;
     padding: 10%;
     font-size: 2rem;
     line-height: 3rem;
     text-align: center;
     font-family: 'Martel', serif;
     font-weight: 400;
     overflow: auto;
}
 table.table2 td{
     padding: 4rem;
}
 table.table2 th {
     overflow: auto;
     padding: 5%;
}
@media all and (max-width: 1000px) {
 
  p {
     font-size: 20px;
     line-height: 3.5rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 200;
     padding: .2rem;
}
  
  img {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 12rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2rem;
     margin-bottom: 2rem;
     border: solid 3px #a98ec2;
     box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
  .navbar a {
     text-decoration: none;
     justify-content: center;
     align-items: center;
    text-align: center;
     
     font-size: 1rem;
     text-transform: uppercase;
     color: #d3a46d;
     font-weight: 200;
}
  .navbar li {
     
     
     background: #3d344c 
}
  
 h1 {
     font-size: 2.5rem;
     line-height: 4rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 400;
     padding: 1.5%;
}
  
   h2 {
     font-size: 2rem;
     line-height: 3.7rem;
     text-align: center;
     font-family: 'League Spartan', sans-serif;
     font-weight: 400;
     padding: 1.5%;
}
 h3 {
     font-size: 1.6rem;
     line-height: 2rem;
     text-align: center;
     font-family: 'Martel', serif;
     font-weight: 400;
     padding: 1.5%;
}
  
  .image2 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2rem;
     margin-bottom: 2rem;
     border: solid 3px #a98ec2;
     box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
  
  .caption {
     text-align: center;
     width: 80%;
     margin: auto;
     border: solid 3px #a98ec2;
     padding: 1%;
     line-height: 10px;
}

.caption2 {
     text-align: center;
     width: 80%;
     margin: auto;
     border: solid 3px #a98ec2;
     padding: 1%;
     line-height: 10px;
     margin-bottom: 2%;
}

 table, td, th {
     border: 2px solid #d3a46d;
}
  
  .container3 {
     display: flex;
     width: 50%;
     justify-content: center;
     align-items: center;
}
  
  table.table2 {
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     margin-top: 5%;
     margin-bottom: 5%;
     border-collapse:collapse;
}
 table.table2 tr {
     height: 3%;
     padding: 10%;
     font-size: 2rem;
     line-height: 3rem;
     text-align: center;
     font-family: 'Martel', serif;
     font-weight: 400;
     
}
 table.table2 td{
     padding: 4rem;
}
 table.table2 th {
     
     padding: 5%;
}